[System]
; RMS home directory
user_home: /home/rms
; List of config files (Default: ~/source/RMS/.config)
config_list: ~/source/ConfigFiles/CAWE01.config,~/source/ConfigFiles/CAWE02.config
station_list: CAWE01,CAWE02

[Tabs]
; Dictionary of tab names (Default: Cam1,Cam2)
tab_names: Cam1,Cam2

[Data]
; Captured files data directory (Default: ~/RMS_data/CapturedFiles)
data_dir: /mnt/RMS_data/LCAM/CapturedFiles

[Reporting]
email_report: false
email_to:
email_cc:
email_subject:
smtp_address:
smtp_passwd:

[Look]
; Dark theme, true/false (Default: false)
dark_theme: false
